* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #222;
  color: #222;
  font-family: Tahoma, sans-serif;
}

h1,
h2 {
  font-family: Georgia, serif;
}

.wrapper {
  background: #222;
  background: -webkit-gradient(linear, left top, right top, from(#222), color-stop(50%, #666), to(#222));
  background: linear-gradient(90deg, #222 0%, #666 50%, #222 100%);
  width: 90%;
  max-width: 600px;
  margin: 0px auto;
  text-align: center;
}

.wrapper .header {
  color: #fff;
  text-shadow: 1px 1px 3px red;
  padding: 20px;
}

.wrapper .add-task {
  background-color: #fff;
  padding: 10px;
}

.wrapper .add-task input {
  width: 80%;
  font-size: 1.5rem;
  border: none;
  border-bottom: 1px solid #888;
  outline: none;
}

.wrapper .add-task .add-task-btn {
  background: transparent;
  color: #008c00;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 2rem;
  font-weight: bold;
  padding: 0 0.5rem;
}

.wrapper .task-list-header {
  color: #fff;
  text-shadow: 1px 1px 3px red;
  padding: 20px 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.wrapper .task-list-header .remove-complete-btn {
  background: transparent;
  color: #fff;
  font-size: 1rem;
  text-shadow: 1px 1px 3px red;
  border: none;
  cursor: pointer;
  outline: none;
}

.wrapper .task-list-wrapper {
  background-color: #fff;
  width: 100%;
}

.wrapper .task-list-wrapper .task-list {
  padding: 10px;
}

.wrapper li {
  text-align: start;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 10px 0;
  border-bottom: 1px solid #7474743b;
}

.wrapper li:hover .custom-checkbox {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #747474;
}

.wrapper li:active .custom-checkbox {
  -webkit-transform: scale(1);
          transform: scale(1);
  color: #ff652f;
}

.wrapper li input {
  position: absolute;
  opacity: 0;
}

.wrapper li label {
  position: relative;
  width: 100%;
  cursor: pointer;
  opacity: 1;
  -webkit-transition: opacity 150ms ease-in-out;
  transition: opacity 150ms ease-in-out;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}

.wrapper li label:hover {
  color: #747474;
}

.wrapper [type="checkbox"]:checked + label .custom-checkbox {
  -webkit-transform: scale(1);
          transform: scale(1);
  color: #ff652f;
  opacity: 0.6;
}

.wrapper [type="checkbox"]:checked + label .check-mark,
.wrapper [type="checkbox"]:checked + label {
  opacity: 0.6;
}

.wrapper .check-mark {
  position: absolute;
  bottom: 5px;
  left: 2px;
  opacity: 0;
  -webkit-transition: opacity 150ms ease-in-out;
  transition: opacity 150ms ease-in-out;
  z-index: 1;
}

.wrapper .custom-checkbox {
  display: inline-block;
  width: 0.75em;
  height: 0.75em;
  margin-right: 0.5em;
  cursor: pointer;
  border: 2px solid currentColor;
  border-radius: 50%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

.test-css__autocomplete {
  color: blue;
}
