* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  background: #222;
  color: #222;
}
.wrapper {
  background: #222;
  background: linear-gradient(90deg, #222 0%, #666 50%, #222 100%);
  width: 90%;
  margin: 0px auto;
  text-align: center;

  .header {
    color: #fff;
    text-shadow: 1px 1px 3px red;
    padding: 30px;
  }
  .add-task {
    background-color: #fff;
    padding: 20px 10px;

    input {
      font-size: 2rem;
      border: none;
      border-bottom: 1px solid #888;
      outline: none;
    }
    .add-task-btn {
      font-size: 2rem;
      padding: 0 0.5rem;
    }
  }
}
