* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}
body {
	background: #222;
	color: #222;
	font-family: Tahoma, sans-serif;
}
h1,
h2 {
	font-family: Georgia, serif;
}
.wrapper {
	background: #222;
	background: linear-gradient(90deg, #222 0%, #666 50%, #222 100%);
	width: 90%;
	max-width: 600px;
	margin: 0px auto;
	text-align: center;

	.header {
		color: #fff;
		text-shadow: 1px 1px 3px red;
		padding: 20px;
	}
	.add-task {
		background-color: #fff;
		padding: 10px;

		input {
			width: 80%;
			font-size: 1.5rem;
			border: none;
			border-bottom: 1px solid #888;
			outline: none;
		}
		.add-task-btn {
			background: transparent;
			color: #008c00;
			border: none;
			cursor: pointer;
			outline: none;
			font-size: 2rem;
			font-weight: bold;
			padding: 0 0.5rem;
		}
	}
	.task-list-header {
		color: #fff;
		text-shadow: 1px 1px 3px red;
		padding: 20px 10px 10px;
		display: flex;
		justify-content: space-between;
		align-items: baseline;

		.remove-complete-btn {
			background: transparent;
			color: #fff;
			font-size: 1rem;
			text-shadow: 1px 1px 3px red;
			border: none;
			cursor: pointer;
			outline: none;
		}
	}
	.task-list-wrapper {
		background-color: #fff;
		width: 100%;

		.task-list {
			padding: 10px;
		}
	}
	li {
		text-align: start;
		font-size: 1.2rem;
		cursor: pointer;
		padding: 10px 0;
		border-bottom: 1px solid #7474743b;

		input {
			position: absolute;
			opacity: 0;

			&::placeholder {
				opacity: 1;
				transition: opacity 150ms ease-in-out;
			}
			&:focus {
				border-bottom-width: 2px;
			}
			&:focus::placeholder {
				opacity: 0.5;
			}
		}
		label {
			position: relative;
			width: 100%;
			cursor: pointer;
			opacity: 1;
		}
	}
}

.task-list li:hover .custom-checkbox {
	transform: scale(1.2);
	color: #747474;
}
.task-list li:active .custom-checkbox {
	transform: scale(1);
	color: #ff652f;
}

[type="checkbox"]:checked + label .custom-checkbox {
	transform: scale(1);
	color: #ff652f;
	opacity: 0.6;
}
[type="checkbox"]:checked + label .check-mark,
[type="checkbox"]:checked + label {
	opacity: 0.6;
}

.custom-checkbox {
	display: inline-block;
	width: 0.75em;
	height: 0.75em;
	margin-right: 0.5em;
	cursor: pointer;
	border: 2px solid currentColor;
	border-radius: 50%;
	transform: scale(1);
	transition: transform 200ms ease-in-out;
}
.check-mark {
	position: absolute;
	bottom: 5px;
	left: 2px;
	opacity: 0;
	transition: opacity 150ms ease-in-out;
	z-index: 1;
}

.test-css__autocomplete {
	color: blue;
}

.check-btn {
	background: transparent;
	color: #ff0000;
	border: none;
	cursor: pointer;
	outline: none;
	font-size: 1rem;
	font-weight: bold;
	padding: 0 0.5rem;
}
.checked {
	text-decoration: line-through;
}
